[Unit]
Description={{description}}
Requires=network.target
After=network.target

[Service]
ExecStart={{exec}}
PIDFile=/var/run/{{name}}.pid
Environment="NODE_ENV=production"

{{#if user}}
User={{user}}
{{/if}}
{{#if group}}
Group={{group}}
{{/if}}

# Custom properties
Restart=always

[Install]
WantedBy=multi-user.target
